body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

:root {
  --coral: #d4420b; 
  --bg-pink: #fff2ed;
  --navy: rgb(2, 78, 114);
  --highlight-coral: #F5A38F;
}

@font-face {
  font-family: Tenor;
  src: url('styles/fonts/TenorSans-Regular.ttf');
}